.cart{
    width: 300px;
    border: solid 2px;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px 20px;
}
.img{
    padding: 10px;
    border-radius: 20px;
    width: 50%;
}
.h3,.h3_1{
    text-align: left;
    margin-left: 30px;
}
